.App {
  height: 100vh;
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.appAside {
  width: 85vw;
  background-image: url("./img/login-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.appForm {
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
  width: 35vw;
  background-color: #0f2d51;
  padding: 25px 40px;
  overflow: auto;
}

.formTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.form-error {
  text-align: left;
  padding: 30px 0;
}

.formFieldLabel {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  top: 20px;
  display: block;
  font-size: 0.9em;
  color: white;
}

.formFieldInput {
  width: 85%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 12px;
  font-weight: 500;
  padding: 15px 10px;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 20px;
  color: #EEE;
}

.formFieldInput::placeholder {
  color: rgba(255, 255, 255, 0.53);
}

.formFieldButton {
  width: 100px;
  height: 40px;
  background: #f96332;
  left: 1042px;
  top: 100px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffe8e1;
  border-radius: 7px;
}

.formFieldLink {
  top: 78%;
  bottom: 26.07%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* text-align       : right; */
  letter-spacing: 0.4px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
}

.main-Header {
  left: 72.15%;
  right: 18.12%;
  margin-top: 100px;
  bottom: 72.68%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #f96332;
}

.sub-Header {
  left: 72.15%;
  right: 9.58%;
  top: 25.93%;
  bottom: 68.44%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #ffffff;
}

input[type="email"],
input[type="password"] {
  left: 950px;
  right: 48px;
  top: 277px;
  bottom: 342px;
  width: 300px;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.54);
  box-sizing: border-box;
  border-radius: 5px;
}

.Title {
  position: absolute;
  left: 9.72%;
  right: 76.6%;
  top: 18.22%;
  bottom: 74.78%;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 53px;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  color: #ffffff;

  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.sub-Title {
  position: absolute;
  left: 9.03%;
  right: 45.14%;
  top: 24%;
  bottom: 28.56%;
  width: 30vw;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-align: left;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

.button-section {
  margin-top: 10px;
  flex-direction: row;
  flex: 1;
}

a:link {
  margin-left: 70px;
  top: 70%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.4px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
}

.a:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .appAside {
    width: 400px;
  }

  .appForm {
    width: 200px;
  }

  input[type="email"],
  input[type="password"] {
    width: 150px;
  }

  .formFieldLink {
    top: 0px;
  }
}

@media screen and (max-width: 787px) {
  .appAside {
    width: 500px;
  }

  .appForm {
    width: 300px;
  }

  input[type="email"],
  input[type="password"] {
    width: 230px;
  }

  .formFieldLink {
    margin-top: 0px;
  }
}
