<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kuulie | Reset Password</title>

  <link rel="apple-touch-icon" sizes="180x180"
    href="https://mazipan.github.io/login-page-css/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://mazipan.github.io/login-page-css/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://mazipan.github.io/login-page-css/favicon/favicon-16x16.png">

  <meta name="msapplication-TileColor" content="#fdcb04" />
  <meta name="theme-color" content="#fdcb04" />

  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="login-screen flex">
    <div class="login-mangools">
      <div class="login-mangools__bg--small relative flex flex-col items-center">
        <!-- Shape -->
        <div class="flex shape-top">
          <svg class="shape-top__big" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" width="100%"
            id="blobSvg">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(255, 95, 109)"></stop>
                <stop offset="100%" style="stop-color: rgb(255, 195, 113)"></stop>
              </linearGradient>
            </defs>
            <path id="blob"
              d="M429.5,291.5Q364,333,341.5,398.5Q319,464,249,466.5Q179,469,116.5,431Q54,393,71,321.5Q88,250,98.5,199Q109,148,142.5,84.5Q176,21,246,34Q316,47,352.5,98Q389,149,442,199.5Q495,250,429.5,291.5Z"
              fill="url(#gradient)"></path>
          </svg>
        </div>
        <!-- End Shape -->
        <div class="login-mangools__logo">
          <img src="/img/logo.png" class="" style="height: 2.25rem" alt="" />
        </div>
        <div class="login-mangools__card">
          ${linkErrorMessage ?
          `<div class="link-error-message">${linkErrorMessage}</div>`
          :
          passwordResetSuccessMessage ?
          `
          <div class="password-reset-success-message">${passwordResetSuccessMessage}</div>
          <div class="flex justify-evenly">
            <a href="/login" class="card__url">Sign In</a>
          </div>
          `
          :
          `<form id="loginForm" action="${formAction}" class="flex flex-col" method="POST"
            enctype="application/x-www-form-urlencoded">
            <div for="" class="flex flex-col card__list">
              <span class="card__label">Password</span>
              <label for="" class="relative">
                <span class="absolute card__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                  </svg>
                </span>
                <input name="password" class="card__input" type="password" placeholder="Enter new password" required />
              </label>
            </div>
            <div for="" class="flex flex-col card__list">
              <span class="card__label">Password (again)</span>
              <label for="" class="relative">
                <span class="absolute card__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                  </svg>
                </span>
                <input name="repassword" class="card__input" type="password" placeholder="Re-enter new password"
                  required />
              </label>
            </div>
            <div class="error-message">
              ${errorMessage}
            </div>
            <div class="success-message">
              ${successMessage}
            </div>
            <button type="submit" class="card__sign-in">Change Password</button>
          </form>
          `}
        </div>
        <!-- Shape -->
        <div class="flex shape-bottom">
          <svg viewBox="0 0 500 500" class="shape-bottom__small" xmlns="http://www.w3.org/2000/svg" width="100%"
            id="blobSvg">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color: rgb(255, 95, 109)"></stop>
                <stop offset="100%" style="stop-color: rgb(255, 195, 113)"></stop>
              </linearGradient>
            </defs>
            <path id="blob"
              d="M408,303Q396,356,354.5,400Q313,444,257.5,421Q202,398,149,380Q96,362,65,306Q34,250,55,187Q76,124,124.5,68Q173,12,237.5,51Q302,90,355,112.5Q408,135,414,192.5Q420,250,408,303Z"
              fill="url(#gradient)"></path>
          </svg>
        </div>
        <!-- End Shape -->
      </div>
    </div>
  </div>
</body>

</html>